body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

nav{
    height:60px;
    width:890px;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{ 
    display: inline-block;
    text-decoration: none;
    color: white;
    z-index: 1;
}

nav span{
    position: absolute;
    background-color: aqua;
    height:60px;
    width:100px;
    border-radius: 10px;
}