body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

nav{
    position: relative;
    height:60px;
    width:890px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{ 
    padding:0px 60px;
    position: relative;
    display: inline-block;
    font-size:17px;
    text-decoration: none;
    color: white;
    z-index: 1;

}

nav span{ 
    left:0px;
    position: absolute;
    background: linear-gradient(45deg ,#194b4f,#33fffc);
    height:60px;
    width:150px;
    border-radius: 10px;
    transition: 1s;
}

nav a:nth-child(1):hover~span{
    left:0px;
}
nav a:nth-child(2):hover~span{
    left:175px;
}
nav a:nth-child(3):hover~span{
    left:370px;
}
nav a:nth-child(4):hover~span{
    left:570px;
}
nav a:nth-child(5):hover~span{
    left:740px;
}